/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* custom-property */
:root {

    /* font-family-start */
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Heebo', sans-serif;
    /* font-family-end */

    /* color-start */
    --color-white: #fff;
    --color-primary: #2D9CDB;
    --color-heading-primary: #333333;
    --color-paragraph-primary: #4F4F4F;
    /* color-end */

    /* btn-primary-start */
    --btn-weight: 500;
    --btn-font-size: clamp(0.875rem, calc((1.125rem - 0.875rem) / 2) + 2.5vw, 1.125rem);
    --btn-font-family: 'Poppins', sans-serif;
    --btn-padding: 0.6875em 1.25em;
    --btn-radius: 12px;
    /* btn-font */
    --btn-font:
        var(--btn-weight) var(--btn-font-size) var(--btn-font-family)
        /* btn-primary-end */

}

/* global-state */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

/* shared-styles */
html {
    max-width: 1440px;
    margin: 0 auto;
    /* font */
    font-family: var(--font-family-primary);

    & h1 {
        font-size: clamp(1.5rem, calc((3rem - 1.5rem) / 2) + 2.5vw, 3rem);
        font-weight: 500;
        color: var(--color-heading-primary);
        max-width: 18ch;
    }

    & h2 {
        font-size: clamp(1.5rem, calc((2.25rem - 1.5rem) / 2) + 2.5vw, 2.25rem);
        font-weight: 500;
        color: var(--color-heading-primary);
        max-width: 18ch;
    }

    & h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-heading-primary);
    }

    & h4 {
        font-size: clamp(0.75rem, calc((1.125rem - 0.75rem) / 2) + 2.5vw, 1.125rem);
        font-weight: 500;
    }

    & h5 {
        font-size: clamp(0.625rem, calc((0.875rem - 0.625rem) / 2) + 2.5vw, 0.875rem);
        font-weight: 500;
        color: #828282;
    }

    & p {
        font-size: clamp(0.75rem, calc((1.125rem - 0.75rem) / 2) + 2.5vw, 1.125rem);
        color: var(--color-paragraph-primary);
    }

}

header,
main {
    max-width: 90vw;
    margin: 0 auto;
}


/* utility-class-start */

/* input with button on top */
.contact-us {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 35ch;

    & .contact-us-input {
        width: 100%;
        height: 3.4em;
        background-color: #F2F2F2;
        border-radius: var(--btn-radius);
        padding-left: 1em;
        font-size: var(--btn-font-size);
        /* to align button on top of email-input */
        grid-row: 2 / 3;
        grid-column: 1 / 1;
    }

    & .btn-primary {
        /* to align button on top of email-input */
        grid-row: 2 / 3;
        grid-column: 1 / 1;
        justify-self: end;
        align-self: center;
        margin-right: .3em;
    }
}

/* btn-primary */
.btn-primary {
    font: var(--btn-font);
    color: var(--color-white);
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    background-color: var(--color-primary);
}

/* utility-class-end */

/* navigation-start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    & h2 {
        font-weight: 800;
        font-family: 'Heebo', sans-serif;
    }

    & .menu {
        font-size: 1.5rem;

        & input {
            position: absolute;
            right: 5%;
            top: 4%;
            width: 20px;
            height: 20px;
            opacity: 0;
        }

        & ul {
            display: none;
            gap: 1em;
            list-style: none;

            & a {
                text-decoration: none;
                color: inherit;
                font-size: clamp(1rem, 0.25rem + 1.5vw, 1.5rem);
                font-weight: 500;
            }
        }
    }

    /* humburger-menu */
    & .menu input[type="checkbox"]:checked~ul {
        display: block;
        position: absolute;
        top: 2em;
        right: 1em;
        text-align: right;
        background-color: #E0E0E0;
        color: #828282;
        width: 10em;
        padding: 1em;
        border-radius: 24px;
        box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
        opacity: 0.97;
    }
}

/* navigation-end */

/* banner-start */

.banner-top {
    margin-top: 3.6875em;
    margin-left: 10%;

    & h4 {
        color: var(--color-primary);
    }

    & h1 {
        margin-bottom: 0.9375em;
    }
}

.banner-img {
    width: 100%;
    border-radius: 18px;
}

.banner-bottom {
    margin-left: 10%;
    margin-bottom: 6.375rem;

    & h1 {
        margin-top: 1.375rem;
        max-width: 12ch;
    }

    & p {
        margin: 1.9375rem 0;
        max-width: 33ch;
    }

    & h5 {
        grid-row: 1 / 2;
    }
}

/* banner-end */

/* services-start */
main h2 {
    margin-bottom: 2.1875rem;
    padding-left: 1rem;
}

.services-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 5rem;

    & article {
        flex: 1;
        padding: 0 1em;
    }

    & svg {
        width: 67px;
        height: 67px;
        padding: 1em;
        border-radius: 16px;
        margin: 2.1875rem 0;
    }

    & h3 {
        margin-bottom: 2.1875rem;
    }

    & button {
        color: #828282;
        background-color: #E0E0E0;
        margin: 2.1875rem 0;
    }

}

.ui-ux-design>svg {
    background-color: #2D9CDB;
}

.front-end>svg {
    background-color: #27AE60;
}

.back-end>svg {
    background-color: #EB5757;
}

/* hover-on-articles */
.services-container>article:hover {
    border-radius: 24px;
    box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
}

.services-container>article:hover button {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* services-end */

/* design-start */

.design-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    & img {
        width: 100%;
        border-radius: 12px;
    }
}

.design-see-more {
    & a {
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--color-primary);
        text-decoration: none;
    }

    & svg {
        vertical-align: middle;
    }
}

/* design-end */

/* team-start */
.team-container {
    margin: 5rem 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    & .team-content {
        flex: 1;

        & h4 {
            color: #EB5757;
        }

        & h2 {
            padding-left: 0;
            margin-bottom: 0;
        }

        & p {
            margin-bottom: 1rem;
        }
    }

    & .team-img-container {
        flex: 1;
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        & img {
            border-radius: 24px;
            width: 100%;
        }

        & img:nth-child(3) {
            order: 1;
            grid-row: 1 / span 2;
        }
    }

}

.team-message {
    & h2 {
        padding-left: 0;
        max-width: 100%;
    }

    & .team-message-card {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;

        & img {
            width: 100%;
            max-height: 50%;
            grid-row: 1 / span 2;
            border-radius: 12px;
        }
    }
}

/* team-end */

/* footer-start */
footer {
    margin: 0 auto;
    padding: 3em;
    background-color: #100E1D;

    & ul {
        list-style: none;
        padding-bottom: 2em;
    }

    & a {
        text-decoration: none;
        color: var(--color-white);
    }

    & h2 {
        color: var(--color-white);
    }

    & h5 {
        grid-row: 1 / 2;
        padding-top: 2em;
    }
}


/* footer-end */


/* large devices */
@media screen and (min-width: 640px) {

    /* navigation */
    nav {
        & .menu {

            & input {
                display: none;
            }

            & i {
                display: none;
            }

            & ul {
                display: flex;
            }
        }
    }

    /* banner */
    .banner-top,
    .banner-bottom {
        margin-left: 15%;
    }

    /* services */
    .services-container {
        flex-direction: row;
    }

    /* design */
    .design-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        & article:nth-child(1) {
            grid-row: 2 / span 5;
            grid-column: 1 / span 1;
        }

        & article:nth-child(2) {
            grid-row: 1 / span 5;
            grid-column: 2 / span 1;
        }

        & article:nth-child(3) {
            grid-row: 8 / span 5;
            grid-column: 1 / span 1;
        }

        & article:nth-child(4) {
            grid-row: 7 / span 5;
            grid-column: 2 / span 1;
        }
    }

    .design-see-more {
        text-align: right;
        transform: translateY(-5vh);
    }

    /* team */
    .team-container {
        flex-direction: row;
        align-items: center;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        & h5 {
            padding-top: 0;
        }
    }
}