/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* custom-property */
:root {

    /* font-family-start */
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Heebo', sans-serif;
    /* font-family-end */

    /* color-start */
    --color-white: #fff;
    --color-primary: #2D9CDB;
    --color-heading-primary: #333333;
    --color-paragraph-primary: #4F4F4F;
    /* color-end */

    /* btn-primary-start */
    --btn-weight: 500;
    --btn-font-size: clamp(0.875rem, calc((1.125rem - 0.875rem) / 2) + 2.5vw, 1.125rem);
    --btn-font-family: 'Poppins', sans-serif;
    --btn-padding: 0.6875em 1.25em;
    --btn-radius: 12px;
    /* btn-font */
    --btn-font:
        var(--btn-weight) var(--btn-font-size) var(--btn-font-family)
        /* btn-primary-end */

}

/* box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

/* shared-styles */
html {
    max-width: 1440px;
    margin: 0 auto;
    /* font */
    font-family: var(--font-family-primary);

    & h1 {
        font-size: clamp(1.5rem, calc((3rem - 1.5rem) / 2) + 2.5vw, 3rem);
        font-weight: 500;
        color: var(--color-heading-primary);
    }

    & h2 {
        font-size: clamp(1.5rem, calc((2.25rem - 1.5rem) / 2) + 2.5vw, 2.25rem);
        font-weight: 500;
        color: var(--color-heading-primary);
    }

    & h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-heading-primary);
    }

    & h4 {
        font-size: clamp(0.75rem, calc((1.125rem - 0.75rem) / 2) + 2.5vw, 1.125rem);
        font-weight: 500;
    }

    & h5 {
        font-size: clamp(0.625rem, calc((0.875rem - 0.625rem) / 2) + 2.5vw, 0.875rem);
        font-weight: 500;
        color: #828282;
    }

    & p {
        font-size: clamp(0.75rem, calc((1.125rem - 0.75rem) / 2) + 2.5vw, 1.125rem);
        color: var(--color-paragraph-primary);
    }

}



/* utility-class-start */

/* btn-primary */
.btn-primary {
    font: var(--btn-font);
    color: var(--color-white);
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    background-color: var(--color-primary);
}

/* utility-class-end */


header,
main {
    max-width: 90vw;
    margin: 0 auto;
}

/* navigation-start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    & h2 {
        font-weight: 800;
        font-family: 'Heebo', sans-serif;
    }

    & ul {
        display: none;
        gap: 1em;
        list-style: none;

        & a {
            text-decoration: none;
            color: inherit;
            font-size: clamp(1rem, 0.25rem + 1.5vw, 1.5rem);
            font-weight: 500;
        }
    }

    & div {
        font-size: 1.5rem;
    }
}

/* navigation-end */

/* banner-start */

.banner-top {
    margin-top: 3.6875em;
    margin-left: 10%;

    & h4 {
        color: var(--color-primary);
    }

    & h1 {
        max-width: 18ch;
        margin-bottom: 0.9375em;
    }
}

.banner-img {
    width: 100%;
    border-radius: 18px;
}

.banner-bottom {
    margin-left: 10%;
    margin-bottom: 6.375rem;

    & h1 {
        margin-top: 1.375rem;
        max-width: 12ch;
    }

    & p {
        margin: 1.9375rem 0;
        max-width: 33ch;

    }

    & input {
        width: 100%;
        max-width: 33ch;
        height: 2.9375rem;
        background-color: #F2F2F2;
        border-radius: var(--btn-radius);
        padding-left: 1rem;
        font-size: var(--btn-font-size);
    }

    & button {
        transform: translate(290%, -108%);
    }
}

/* banner-end */

/* services-start */
main h2 {
    margin-bottom: 2.1875rem;
    padding-left: 2rem;
}

.services-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    & article {
        flex: 1;
        padding-left: 2rem;
    }

    & svg {
        width: 67px;
        height: 67px;
        padding: 1rem;
        border-radius: 16px;
        margin: 2.1875rem 0;
    }

    & h3 {
        margin-bottom: 2.1875rem;
    }

    & button {
        color: #828282;
        background-color: #E0E0E0;
        margin: 2.1875rem 0;
    }

}

.ui-ux-design>svg {
    background-color: #2D9CDB;
}

.front-end>svg {
    background-color: #27AE60;
}

.back-end>svg {
    background-color: #EB5757;
}

/* hover-on-articles */
.services-container>article:hover {
    border-radius: 24px;
    box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
}

.services-container>article:hover button {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* services-end */


/* mobile-view */
@media screen and (min-width: 640px) {

    /* navigation */
    nav {
        & ul {
            display: flex;

            font-size: 1rem;
        }

        & div {
            display: none;
        }
    }

    /* banner */
    .banner-top,
    .banner-bottom {
        margin-left: 15%;
    }

    /* services */
    .services-container {
        flex-direction: row;
    }
}